<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/assets/css/profile2.css">
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <div class="profile-info">
            <img src="profile-picture.jpg" alt="Profile Picture" class="profile-image">
            <div class="user-details">
                <h2>{{ .Name }}</h2>
                <p>Member Since: <span class="info-value">November 19, 2023</span></p>
                <p>Email: <span class="info-value">{{ .Email }}</span></p>
                <p>Phone: <span class="info-value">(555) 555-5555</span></p>
                <a href="#">Редактировать</a>
                
                <a href="/">Главная</a>
                <a href="/cart">Корзина</a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/your-fontawesome-kit-code.js" crossorigin="anonymous"></script>
</body>
</html>
