<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Online Grocery Store - Registration</title>
    <link rel="stylesheet" href="/assets/auth/css/reg.css">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>
        <form action="/auth/signup" method="post" id="registration-form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" name="surname" id="surname" required>
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password (мин 8 символов):</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" name="confirm-password" id="confirm-password" required>
                <small>Passwords must match and follow college account password guidelines.</small>
            </div>
            <div class="form-group">
                <button type="submit" id="register-button">Register</button>
            </div>
            {{ if .}}
                {{ . }}
            {{ end }}
        </form>
        <p>Already have an account? <a href="/auth/signin">Log in here.</a></p>
    </div>

    <script src="script.js"></script>
</body>
</html>
